.open-sans{
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  /* shared style */
 .text-primary{
    color: rgb(253, 110, 10);
 } 
 .dark-2{
    color: rgb(71, 71, 71);
 }
 .btn-primary{
    background-color: rgb(253, 110, 10);
    padding: 18px 35px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: 700;
    font-size:20px;
 }
 .section-heading{
    color:#181818;
    font-size: 35px;
 }
 .section-paragraph{
    color: #757575;
    font-size: 18px;
 }
 .shared-bg{
    background-color: #FFF8F3;
 }
 .text-centre{
    text-align: center;
 }
 /* header section */

 .header{
    background-image: url('../assets/developer.png'),url('../assets/header_bg.png');
    background-repeat: no-repeat;
    background-position: top left,bottom right;
 }

/* nav section */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    margin: 51px;
}
nav li a{
    text-decoration: none;
}
.nav-title{
    font-size: 45px;
    font-weight: 800;
}


/* banner section */

.banner{
    display: flex;
    justify-content: space-between;
}

.banner-content{
    width: 585px;
    margin: 0 30px 0 230px;
}
.banner-title1{
    font-size: 45px;
    font-weight: 600px;
}
.banner-title2{
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
.banner-paragraph{
    font-size: 18px;
    margin-bottom: 30px;
}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin-top: 130px;
    margin-bottom: 130px;
}
/* about section */
.about{
    text-align: center;
    padding: 210px 157px;
}
.info-description{
    font-size: 20px;
    font-weight: 600;
}
.info{
    display: flex;
    justify-content: space-around;
}
.skills{
    display: flex;
    gap: 30px;
}
.skill{
    margin-top: 30px;
    padding: 30px;
    box-shadow: 0 6px 50px 0 rgba(0,0,0,0.08);
}
/* resume section */
.resume-master{
    display: flex;
    gap: 24px;
}
.description{
    font-size: 16px;
    color: #757575;
}
.exp-subtitle{
    font-size: 20px;
    color: #757575;
}
.exp-title{
    font-size: 25px;
    color: rgb(71, 71, 71);
}
footer{
    display: flex;
    padding: 130px 230px;
    gap: 117px;
}
.footer-column{
    width: 50%;
}
footer input[type="text"] , input[type="email"], textarea{
    height: 64px;
    padding: 10px 10px;
    width: 100%;
    font-size: 23px;
    background-color: white;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
}

/* responsive section */
.hide{
    display: none;
}
@media screen and (max-width:576px) {
    .skills ,.resume-master,footer,.info ,nav,.banner{
        flex-direction: column;
    }
    footer , .about{
        padding: 20px;
    }
    .footer-column{
        width: 100%;
    }
    footer input[type="text"] , input[type="email"], textarea{
        width: calc(100% - 40px);
    }
    .header{
      background-image: none;
    }
    .banner-content{
        margin: auto;
        width: fit-content;
    }
    nav ul li{
        margin: 10px;
    }
    nav{
        margin: auto;
    }
    .banner-title1{
        font-size: 30px;
    }
    .banner-title2{
        font-size: 40px;
    }
}